*.png
*.pdf
*.eps
*.csv
*.ps
*.txt
*.nc
*/*.pdf
*/*.eps
*/*.csv
*/*.ps
*/*.txt
*/*.nc
./backup
*sh.o*
*/*sh.o*
*/*/*sh.o*
*/nohup.out
*/*/nohup.out
*/*/*/nohup.out
*/txt/*
*/plots/*
*/data/*
*/refuse/*
*/*/refuse/*
*/*/plots/*
*/*/data/*

